
a{
	color: inherit;
	text-decoration: none;
}

ul{
	height:100%;
	width: 100%;
	padding: 15px 35px 5px 0;
	text-align: center;
}

li{
  list-style-type: none;
  display: inline-block;
  font-family: Merriweather;
  font-weight: 700;
  text-align: left;
  padding: 15px 20px 10px;
  width: 15.5%;
}

p{
	width: 76.5%;
	float: left;
}


li.fa{
	font-weight: 700;
	font-size: 20px;
}

li.fa.fa-gears::before,
li.fa.fa-pencil-square-o::before,
li.fa.fa-thumbs-o-up::before,
li.fa.fa-heart::before{
	padding-right: 8.2px;
}



#myTabs{
  height: 70px;
  width: 100%;
}


@media screen and (max-width: 920px) {
	.content{
		padding: 50px 0 0;
		margin: 89px 20px;
	}

	#myTabs{
 		 height: 250px;
 		 width: 23.5%;
 		 float: left;
	}
	ul{
		width: 100%;
		padding-right: 0;
		margin-right: 0;
	}
	li.fa{
		display: block;
	}
	p{
		width: 76.5%;
		padding: 20px 0 0 55px;
	}
}

.fa:hover{
	text-decoration: underline;
	cursor: pointer;
}


@media screen and (max-width: 523px) {
	.content{
		margin-top: 128.5px;
	}
	#myTabs{
		width: 40%;
	}
	p{
		width: 60%;
	}
}

@media screen and (max-width: 500px) {
	.content{
		margin-top: 325.5px;
	}
}
