#txtHint{
	padding: 100px;

}

#card{
	float:left;
	background-color: rgb(187, 187, 119) ;
    width: 60%;
    margin: 20px;
    padding: 20px;
}

.titlu{
	display: none;
}

h3{
	font-weight: 100;
	color: green;
}

b{
	font-size: 24px;
}
select {
	font-size: 18px;
}